@media (max-width: 1200px) {
}
@media (max-width: 991px) {
  .promo {
    padding: 21px 20px 93px 20px;
    &__header {
      font-size: 38px;
    }
    &__subheader {
      font-size: 20px;
      line-height: 20px;
    }
    &__link {
      margin-top: 13px;
    }
  }
  .button_main {
    width: 250px;
    height: 50px;
    font-size: 15px;
  }
  .advantages {
    min-height: 450px;
    padding: 52px 25px 60px;
    &__wrapper {
    }
    &__item {
      width: 215px;
    }
  }
}
