@media (max-width: 1200px) {
  /* от 992px до 1200px */
}
@media (max-width: 991px) {
  /* от 768px до 992px */
  .promo {
    padding: 21px 20px 93px 20px;
    &__header {
      font-size: 38px;
    }
    &__subheader {
      font-size: 20px;
      line-height: 20px;
    }
    &__link {
      margin-top: 13px;
    }
  }
  .button_main {
    width: 250px;
    height: 50px;
    font-size: 15px;
  }
  .advantages {
    min-height: 450px;
    padding: 52px 25px 60px;
    &__wrapper {
    }
    &__item {
      width: 215px;
    }
  }
}
@media (max-width: 767px) {
  // от 576px до 768px
  .header {
    &__logo {
      img {
        width: 70%;
      }
    }
    &__official {
      margin-right: 83px;
      font-size: 9px;
      span {
        font-size: 16px;
      }
    }
    &__phone {
      font-size: 13px;
    }
  }
  .button {
    width: 135px;
    height: 33px;
    font-size: 13px;
  }
  .promo {
    padding: 21px 20px 50px 20px;
    &__wrapper {
      align-items: center;
    }
    &__header {
      font-size: 30px;
    }
    &__subheader {
      font-size: 17px;
      line-height: 17px;
    }
    &__icon {
      font-size: 12px;
      img {
        width: 30px;
      }
    }
    &__link {
      font-size: 14px;
      margin-top: 9px;
    }
  }
  .button_main {
    width: 200px;
    height: 40px;
    font-size: 13px;
    margin-top: 100px;
  }
  .title {
    font-size: 28px;
  }
  .advantages {
    &__wrapper {
      margin-top: 10px;
      flex-direction: column;
    }
    &__item {
      margin-top: 30px;
      width: 100%;
    }
    &__icon {
      width: 60px;
    }
    &__subtitle {
      font-size: 16px;
      margin-top: 0;
    }
    &__descr {
      text-align: left;
      font-size: 13px;
      margin-top: 5px;
      width: 350px;
    }
  }
}
@media (max-width: 575px) {
}
