.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    width: 251px;
    img {
      width: 100%; /* любой логотип кот. будет поподать в виде картинки во внутрь будет занимать 100% ширины, таким образом у него высота подстроится под эту ширину */
    }
  }
  &__official {
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    span {
      display: block; /* что бы этот элемент был блочным и занимал всю ширину кот. ему доступна */
      font-size: 18px;
    }
  }
  &__phone {
    display: block;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
